/* General styles */
.container {
  max-width: 600px; /* Adjust the max-width to your preference */
  margin: 0 auto;
  padding: 10%;
  border-radius: 5px;
  border: solid black;
  background-color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
select,
button {
  width: 500px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  flex: 1;
}
.register{
  margin-top: 2rem;
}
button {
  width: 525px;
  color: #fff;
  cursor: pointer;
}

select{
  width: 600px;
  margin-bottom: 1rem;
}
/* Error styles */
.error {
  color: red;
  font-size: 12px;
}


/* Responsive styles */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
